<h2>Transactions</h2>
<div class="card-all">
    <div class="card" *ngFor="let transaction of transactionData$ | async">
        <div class="card-title">
            <nav class="navbar navbar-expand-md navbar-dark  mb-4">
                <div class="container">
                    <h4>Transaction details</h4>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <button class="btn btn-info">Edit</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-danger">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{transaction.category}}</h4>
                    </li >
                    <li class="list-group-item">
                        <p>{{transaction.amount}}</p>
                    </li>
                    <li class="list-group-item" >
                        <p>{{transaction.date}}</p>
                    </li >
                    <li class="list-group-item"> 
                        <p>{{transaction.description}}</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>
<br>
<div class="container">
    <button class="w-20 btn btn-lg btn-info" (click)="showTransactionForm()" *ngIf="!showForm">Add
        Transaction</button>
    <button class="w-20 btn btn-lg btn-danger" (click)="hideTransactionForm()" *ngIf="showForm">Close</button>

    <form [formGroup]="form" (submit)="submit()" *ngIf="showForm">
        <h4 class="h5 mb-3 fw-normal">Add Transaction</h4>
        <label for="exampleInputEmail1">Category</label>
        <input formControlName="category" class="form-control" placeholder="Salary, Loan, Wire Transfer" required>

        <label for="exampleInputEmail1">Amount</label>
        <input formControlName="amount" type="email" class="form-control" placeholder="Enter amount in KES" required>

        <label for="exampleInputEmail1">Date</label>
        <input formControlName="date" class="form-control" placeholder="Date of transaction" required>

        <label for="description">Description</label>
        <input formControlName="description" class="form-control" placeholder="More information about the transaction">
        <button class="w-50 btn btn-lg btn-primary" type="submit">ADD</button>
    </form>
</div>