.card {
    width: 50%;
    margin-bottom: 2%;
    
}
.card-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    margin-right: 5px;
}

.card-body {
    margin-left: 6%;
    
}

.navbar {
    margin-top: 1.5%;
    margin-left: 5px;
}

.form-control {
    margin-bottom: 2px;
}

