
<div class="wallet">
    <h4>Wallet List</h4>
    <div class="card-all">
        <div class="card"  *ngFor="let wallet of walletData$ | async">
            <div class="card-title">
                <nav class="navbar navbar-expand-md navbar-dark  mb-4">
                    <div class="container">
                        <p class="card-title">{{wallet.name}}</p>
                        <!-- <div>
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                <li class="nav-item">
                                    <button class="btn btn-info">Edit</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-danger" (click)="deleteWallet()">Delete</button>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </nav>
    
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                       
                        <li class="list-group-item">
                            <h4>BAL: {{wallet.amount}}</h4>
                        </li>
                        
                        <li class="list-group-item"> 
                           
                        </li>
                        <li class="list-group-item" >
                            <span>Created at: {{wallet.createdAt}}</span>
                        </li >
                    </ul>
    
                </div>
            </div>
        </div>

        <br>
        <div class="container">
            <button class="w-20 btn btn-lg btn-info" (click)="displayForm()" *ngIf="!showForm">Add
                Wallet</button>
            <button class="w-20 btn btn-lg btn-danger" (click)="hideForm()" *ngIf="showForm">Close</button>
        
            <form [formGroup]="form" (submit)="submit()" *ngIf="showForm">
                <h4 class="h5 mb-3 fw-normal">Add Wallet</h4>
                <label for="Wallet">Name</label>
                <input formControlName="wallet" class="form-control" placeholder="Wallet name" required>
        
                <label for="Amount">Amount</label>
                <input formControlName="amount" type="number" class="form-control" placeholder="Enter amount in KES" required>
        
                <label for="description">Description</label>
                <input formControlName="description" class="form-control" placeholder="More information about the transaction">
                <button class="w-50 btn btn-lg btn-primary" type="submit">ADD</button>
            </form>
        </div>
        
    
    </div>
</div>
